[mysqld]
bind-address = 0.0.0.0
skip-networking = 0
skip-external-locking
skip-grant-tables
socket = /tmp/school-routine-generator/mysql/socket

[client]
socket = /tmp/school-routine-generator/mysql/socket
